################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TicketCycle DTOS.txt
/Ticket Cycle more entities.txt
